main .swiper-container .swiper-slide img {
    width: 100%;
    height: 250px;
}

main .company-advantage,
main .company-about {
    background: #fff;
}

main .company-about {
    background: #ddd;
    padding: 50px 0px;
}

main .company-advantage .advantage-title,
main .company-about .about-title {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

main .company-advantage .advantage-title .title,
main .company-about .about-title .title {
    font-size: 28px;
    color: #FF6600;
}

main .company-advantage .advantage-title .under-line,
main .company-about .about-title .under-line {
    width: 90px;
    height: 1px;
    background: #01B1AF;
    margin: 0 auto;
}

main .company-advantage .advantage-inner {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

main .company-advantage .advantage-inner span {
    color: #fff;
    font-size: 20px;
    position: absolute;
}

main .company-about .about-inner {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

main .company-about .about-inner .about-txt {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .company-about .about-inner .about-txt>p {
    text-indent: 2em;
    color: #666;
}

main .company-licence{
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}
main .company-licence p{
    color: #09aeb0;
    font-size: 28px;
}
@media (max-width:450px) {
    main .company-advantage .advantage-title,
    main .company-advantage .advantage-inner,
    main .company-about .about-title,
    main .company-about .about-inner{
        width: 100%;
    }
    main .swiper-container .swiper-slide img {
        width: auto;
        height: 10rem;
    }
    main .company-about .about-inner{
        flex-direction: column;
    }
    main .company-about .about-inner img{
        width: 100%;
    }
    main .company-about .about-inner .about-txt{
        margin-left: 0;
        padding:10px;
    }
    main .company-licence img{
        width: 100%;
    }

}

