/*主体部分样式*/
@media (max-width:450px) {
    main .company-advantage,
    main .company-about,
    main .company-advantage>div,
    main .company-about>div,
    main .company-advantage .advantage-inner img,
    main .company-confidence .confidence-wrapper{
        width: 100%!important;
    }
    main .swiper-container .swiper-slide img{
        height: 10rem;
    }
    main .company-advantage .advantage-inner{
        margin: 0!important;
        padding:15px;
    }
    main .confidence-wrapper .confidence-title{
        width: auto!important;
        font-size: 15px!important;
    }
    main .company-about .about-inner{
        flex-direction: column;
    }
    main .company-about .about-inner .about-img img{
        width: 100%;
    }
    main .company-about .about-inner .about-txt{
        margin-left: 0!important;
        padding:10px;
    }

}
main .swiper-container .swiper-slide img {
    width: 100%;
}

main .company-advantage,
main .company-about {
    background: #fff;
}

main .company-advantage .advantage-title,
main .company-about .about-title {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

main .company-advantage .advantage-title .title,
main .company-about .about-title .title {
    font-size: 28px;
    color: #FF6600;
}

main .company-advantage .advantage-title .under-line,
main .company-about .about-title .under-line {
    width: 90px;
    height: 1px;
    background: #01B1AF;
    margin: 0 auto;
}

main .company-advantage .advantage-inner {
    width: 1000px;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

main .company-advantage .advantage-inner span {
    color: #fff;
    font-size: 20px;
    position: absolute;
}

main .company-confidence {
    background: #009B97;
}

main .company-confidence .confidence-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

main .company-confidence .confidence-wrapper .features {
    display: flex;
    justify-content: center;
}

main .company-confidence .confidence-wrapper .features div {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 33px;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}

main .confidence-wrapper .confidence-slogan {
    color: #fff;
    text-align: center;
    line-height: 60px;
}

main .confidence-wrapper .confidence-title {
    width: 400px;
    text-align: center;
    background: #FF6600;
    height: 50px;
    border-radius: 30px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    margin: 20px auto;
}

main .company-about .about-inner {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

main .company-about .about-inner .about-txt {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .company-about .about-inner .about-txt>p {
    text-indent: 2em;
    color: #666;
}